name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: debian-latest

    steps:
    - uses: actions/checkout@v4
    - name: download libmysqlclient-dev
      run: wget  http://ftp.cn.debian.org/debian/pool/main/m/mysql-8.0/libmysqlclient-dev_8.0.44-1_amd64.deb
    - name: install libmysqlclient-dev
      run: dpkg -i ./libmysqlclient-dev_8.0.44-1_amd64.deb
    - name: cmake
      run: cmake .
    - name: make
      run: make
